@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


:root{
    --main-bg-color:rgb(230,230,230);
    --main-text-color:rgb(68,68,68);
}

html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size:14pt;

}

body{
    padding:0px;
    margin:0px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}



@media screen and (max-width:1300px){
    nav{
        position:sticky;
        top:0px;
        left:0px;
        background-color:var(--main-bg-color);
        height:50px;
        width:100vw;
        box-shadow:1px 5px 10px gray;
    }

    #menu_icon{
        position:absolute;
        top:2px;
        left:5px;
        width:45px;
        height:45px;
    }

    /*     "MENU" Prompt       */
    #menu_text{
        display:block;
        color:var(--main-text-color);
        position:absolute;
        left:55px;
        top:12px;
        font-size:1.5rem;
        font-family:'Gilda Display', cursive;
        font-weight:bold;
    }

    /*Top Menu Selection */

    .top_menu_selection{
        display:none;
        position:absolute;
        top:0px;
        margin-top:30px;
        margin-left:55px;
    }

    .top_menu_selection ul{
        list-style-type:none;
    }
    .top_menu_selection li{
        width:100vw;
        margin-top:20px;
        margin-left:-40px;
    }

    .top_menu_selection #header_image{
        width:230px;
    }

    /* Nav Links */
    .top_menu_selection a{
        text-decoration:none;
        font-family: 'Gilda Display', serif;
        font-weight:bold;
        font-size:1.5rem;
        color:var(--main-text-color);
    }

    .top_menu_selection a:hover{
        color:lightblue;
    }

    .top_menu_selection .active{
        background-color:white;
    }

    .top_menu_selection .active_text{
        color:black;
    }

    .top_menu_selection img{
        margin-top:20px;
        margin-left:-10px;
        margin-right:auto;
        width:100%;
        border-style:groove;
        border-color:white;
        border-width:5px;
    }
}

/* Footer */

footer{
    margin-top:50px;
    width:100%;
    height:auto;
    color:white;
    
}

#site_navigation_footer{
    font-family:'Cinzel Decorative';
    text-align:center;
    font-size:1rem;
   
}

footer ul{
    list-style-type:none;
}

footer li{
    font-size:1rem;
    font-family:'Gilda Display';
    font-weight:bold;
    padding-top:5px;
}

footer a{
    text-decoration:none;
    color:white
}

#copyright_footer{
    color:white;
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:-20px;
    background-color:var(--main-text-color);
}



/* Content */

.content{
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.header{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin-bottom:50px;

}

/*HOME PAGE*/


#home_page_container{
    background-color:black;
}

#home_page_container h1{
    color:white !important;
}

#header_container{

    height:600px
}

#home_content{
    margin-top:20px;
    display:flex;
    flex-direction:column;
}



#header_container h1{
    font-family:'Gilda Display';
    font-size:15vw;
    text-align:center;
    color:var(--main-text-color);
    margin-top:-10px;
    letter-spacing:1rem;
    margin-left:20px;
    margin-top:5px;
    
}

#header_container img{
    max-width:80%;
    margin:auto;
    display:block;
}

.p_content{
    background-color:var(--main-bg-color);
    max-width:90%;
    box-shadow:1px 5px 10px gray;
    margin-bottom:10px;
    color:var(--main-text-color);
    font-family:Arial;
    line-height:1.7rem;
    text-align:left;
    padding:10px 20px 10px 20px;
    border-radius:15px;
}

@media screen and (max-width:1320px){
    #home_content{
        flex-direction:column;
    }
}

/*DOCUMENTARY*/

    #documentary_content{
        margin-top:100px;
        display:flex;
        flex-direction:column;
        width:100%;
    }

    #documentary, #documentary2{
        width:100% !important;
        height:100% !important;
        margin:auto;
    }


    .video_container{
        
        width:90%;
        height:90%;
        max-width:1200px;
        padding:30px;
    }
    #documentary_link{
        margin:50px;
        text-align:center;
    }




#documentary_link{
    font-family:'Gilda Display',sans-serif;
    margin-top:35px;
    padding:15px;
    color:var(--main-text-color);
    text-decoration:none;
    font-weight:bold;
    font-size:.9rem;
    background-color:var(--main-bg-color);
    border-radius:15px;
    border:1px solid darkgray;
    box-shadow:1px 5px 10px gray;
}

/*LULLABY PROJECT */

#lullaby_heading{
    font-size:2rem;
}

#lullaby_subheading{
    margin-top:-20px;
    text-align:center;
    font-family:'Gilda Display';
}

.purchase_button{
    font-family:'Gilda Display',sans-serif;
    margin-top:10px;
    padding:15px;
    color:var(--main-text-color);
    text-decoration:none;
    font-weight:bold;
    font-size:.9rem;
    background-color:var(--main-bg-color);
    border-radius:15px;
    border:1px solid darkgray;
    box-shadow:1px 5px 10px gray;

}

@media screen and (min-width:1300px){

        #lullaby_content{
        height:80vh;
        overflow-y:scroll;
        }
        #lullaby_project_album_cover{
        width:40vw;
        padding:30px;
        max-width:600px;
        height:auto;
    }
}

@media screen and (max-width:1299px){
    #lullaby_project_album_cover{
        width:60vw !important;
        max-width:600px !important;
        padding:100px;
    }
}


/*ROAD TO TEHRAN */

#tehran_heading h1{
    font-size:1rem;
}

#tehran_subheading{
    margin-top:-20px;
    text-align:center;
    font-family:'Gilda Display';
}

@media screen and (min-width:1300px){
        #tehran_content{
        height:80vh;
        overflow-y:scroll;
        }
        #road_to_tehran_album_cover{
        width:40vw;
        padding:30px;
        max-width:600px;
        height:auto;
    }
}

@media screen and (max-width:1299px){
    #road_to_tehran_album_cover{
        width:60vw !important;
        max-width:600px !important;
        padding:100px;
    }
}

/* CONCERTS PAGE */

.concert_content{
    width:90%;
    
}

.concert_header{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:100px auto 0 auto;
    width:100%;
}

.concert_image{
    width:350px;
    height:400px;
    padding:20px;
}

#concert_content{
    margin:auto;
    width:80%;
}

#concert_contact{
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:80%;
}

@media screen and (max-width:874px){
    .concert_header{
        margin-left:auto;
        width:100%;
    }
    .img_container{
        margin:0;
        width:90%;
    }
    .concert_image{
        margin-left:-20px;
        width:100%;
    }
}






































































/*MEDIA QUERIES FOR EVERY PAGE */


/*once screen hits 1300px wide*/
@media screen and (min-width:1300px){
    .content{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    }

    .header{
        margin:0px;
        padding:0px;
    }

    .header img{
        width:100%;
        height:auto;
    }

    .p_content{
        width:50%;
        height:auto;
    }

    /*NAVAGATION*/

    nav{
        position:absolute;
        top:0px;
        left:0px;
        background-color:var(--main-bg-color);
        height:50px;
        width:100vw;
        box-shadow:1px 5px 10px gray;
    }

    #menu_icon{
        display:none;
    }

    /*hiding menu text from main menu on larger screens */
    #menu_text{
        display:none !important;
    }

    nav li{
        display:inline-block;
    }

    nav a{
        padding: 25px 25px 10px 25px;
        text-decoration:none;
        color:var(--main-text-color);
    }
    nav a:hover{
        background-color:var(--main-text-color);
        color:white;
    }
    #menu_text{
        display:block;
        color:var(--main-text-color);
        position:absolute;
        left:55px;
        top:12px;
        font-size:1.5rem;
        font-family:'Gilda Display', cursive;
        font-weight:bold;
    }
   
}

#baby_lap {
            display:block;
            width:80%;
            max-width:600px;
            height:auto;
            margin-left:auto;
            margin-right:auto;
            margin-top:50px;
            border-radius:50px;
        }

#contact_h1{
    margin-top:10px;
}
#email_content{
    margin-top:-250px;
    text-align:center;
    padding:0px 10px 0px 10px;
}

@media screen and (min-width:1300px){
    #email_content{
    margin-left:50px;
    padding:100px;
    font-size:1.2rem;
    margin-bottom:60px;
    }
    #contact_image{
    width:80vw;
    height:80vh;

}
}


.active_link{
    background-color:darkgray;
    color:white;
}

a {
    text-decoration:none;
    color:black;
}

.photo_container{
    width:100%;
    text-align:center;
}

.photo_container img{
    margin:20px;
    width:75%;
    height:auto;
    border:1px solid gray;
    box-shadow:5px 5px 5px darkgray;
}

#photo_content{
    margin-top:100px;
}

#h1_photos{
    font-family: 'Gilda Display';
    font-size: 3rem;
    text-align: center;
    color: var(--main-text-color);
}

#Tania_Name{
    font-size:2rem;
}

#sanobelk{
    color:white;
}

@media screen and (min-width:860px){
    #header_container h1{
    font-size:96pt;
    }
}

.firstLetter{
    font-size:2rem;
    font-family:'Great Vibes';
    padding-right:5px;
}